.badge {
    background-color: #00d2d3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
}